.text {
  position: relative;
  text-align: center;
  color: #e98208;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 7px;
  margin: 1rem;
}
.text1 {
  font-size: 50px;
}

.text2 {
  font-size: 40px;
}

img {
  margin-top: 120px;
  width: 25%;
}
#clock {
  font-size: 60px;
}

@media screen and (max-width: 576px) {
  img {
    width: 50%;
  }
}
